doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Historical graphs of Seattle freeway traffic')
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title traffic
    != css()

  body
    div
      canvas(id='graph') This is a fancy chart that requires JavaScript, sorry. :-(
    div(id='routes')
      select(name='start')
      select(name='route')
      select(name='end')
    div(id='controls') // number of days, different day, different time

    != js()

