doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Historical graphs of Seattle freeway traffic')
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=0.65, user-scalable=no")
    title traffic
    != css()

  body
    div
      canvas(id='graph') This is a fancy chart that requires JavaScript, sorry. :-(
    div.row
      div.col-xs-3.text-left
        label(for="start") Starting at
        br
        select(id="start")
      div.col-xs-6.text-center
        label(for="start") Via route
        br
        select(id='route')
      div.col-xs-3.text-right
        label(for="end") Ending at
        br
        select(id='end')
    div(id='controls')
    div(style="height:4em")
    != js()
