@import '_settings'

normalize-css()
base()

body
  padding: 15px

.container
  padding-left: 0
  padding-right: 0
  div:first-child
    padding-left: 0
  div:last-child
    padding-right: 0

label
  white-space: nowrap

.row
  padding-bottom: 2em

#time
  width: 12em

#delta, #weeks
  width: 3em
  
#tooltip
  position: absolute
  display: none
  padding: 2px
  border: 1px solid
  background-color: white