@import '_settings'

normalize-css()
base()

body
  padding: 15px

.container
  padding-left: 0
  padding-right: 0
  div:first-child
    padding-left: 0
  div:last-child
    padding-right: 0

select
  font-size: 200%