@import '_settings'

normalize-css()
base()

body
  padding: 15px

.container
  padding-left: 0
  padding-right: 0
  div:first-child
    padding-left: 0
  div:last-child
    padding-right: 0

label
  white-space: nowrap

#graph
  width: 800px
  height: 400px
